# [SQL Interview Questions on Data Lemur - Medium](https://datalemur.com/questions?difficulty=Medium&category=SQL)

##### Solved by: Dorothy Kunth

### 1. [User's Third Transaction - Uber](https://datalemur.com/questions/sql-third-transaction)

Assume you are given the table below on Uber transactions made by users. Write a query to obtain the third transaction of every user. Output the user id, spend and transaction date.

``transactions`` table

| user_id | spend  | transaction_date    |
|---------|--------|---------------------|
| 111     | 100.50 | 01/08/2022 12:00:00 |
| 111     | 55.00  | 01/10/2022 12:00:00 |
| 121     | 36.00  | 01/18/2022 12:00:00 |
| 145     | 24.99  | 01/26/2022 12:00:00 |
| 111     | 89.60  | 02/05/2022 12:00:00 |
| 145     | 45.30  | 02/28/2022 12:00:00 |
| 121     | 22.20  | 04/01/2022 12:00:00 |
| 121     | 67.90  | 04/03/2022 12:00:00 |
| 263     | 156.00 | 04/11/2022 12:00:00 |
| 230     | 78.30  | 06/14/2022 12:00:00 |
| 263     | 68.12  | 07/11/2022 12:00:00 |
| 263     | 100.00 | 07/12/2022 12:00:00 |

### Solution
1. Use window function ROW_NUMBER() partition by user_id and order by transaction_date

```sql
SELECT
  user_id,
  spend,
  transaction_date,
  ROW_NUMBER() OVER(PARTITION BY user_id ORDER BY transaction_date) AS transaction_sequence
FROM transactions;
```
| user_id | spend  | transaction_date    | transaction_sequence |
|---------|--------|---------------------|----------------------|
| 111     | 100.50 | 01/08/2022 12:00:00 | 1                    |
| 111     | 55.00  | 01/10/2022 12:00:00 | 2                    |
| 111     | 89.60  | 02/05/2022 12:00:00 | 3                    |
| 121     | 36.00  | 01/18/2022 12:00:00 | 1                    |
| 121     | 22.20  | 04/01/2022 12:00:00 | 2                    |
| 121     | 67.90  | 04/03/2022 12:00:00 | 3                    |
| 145     | 24.99  | 01/26/2022 12:00:00 | 1                    |
| 145     | 45.30  | 02/28/2022 12:00:00 | 2                    |
| 230     | 78.30  | 06/14/2022 12:00:00 | 1                    |
| 263     | 156.00 | 04/11/2022 12:00:00 | 1                    |
| 263     | 68.12  | 07/11/2022 12:00:00 | 2                    |
| 263     | 100.00 | 07/12/2022 12:00:00 | 3                    |


<br><br>
2. Use the above query as an inline query (FROM clause) and filter where transaction_sequence = 3
```sql
SELECT 
  user_id, 
  spend, 
  transaction_date
FROM (
      SELECT 
        user_id, 
        spend, 
        transaction_date,
        ROW_NUMBER() OVER (PARTITION BY user_id ORDER BY transaction_date) AS transaction_sequence
      FROM transactions) AS ordered_transactions
WHERE transaction_sequence = 3
```
| user_id | spend  | transaction_date    |
|---------|--------|---------------------|
| 111     | 89.60  | 02/05/2022 12:00:00 |
| 121     | 67.90  | 04/03/2022 12:00:00 |
| 263     | 100.00 | 07/12/2022 12:00:00 |

##### in progress